.price-paid:after {
	content: 'Paid';
	background-color: #fcf8e3;
	padding: 0em .2em 0em .2em;
	margin-left: .5em;
}

.price-free:after {
	content: 'Free';
	background-color: #e3fce5;
	padding: 0em .2em 0em .2em;
	margin-left: .5em;
}

.price-freetier:after {
	content: 'Free tier';
	background-color: #fcebe3;
	padding:  0em .2em 0em .2em;
	margin-left: .5em;
}
