<li class="media">
	<div class="media-left">
		<img class="media-object" style="border-radius:50%;"src="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=64">
	</div>
	<div class="media-body">
		<h4 class="media-heading">
			{% if (include.website) and (include.website != '@website') %}
				<a rel="nofollow" href="{{ include.website }}">{{ include.name }}</a>
			{% else %}
				{{ include.name }}
			{% endif %}
			|
			<small>
				{% if include.date %}
					{% if include.index %}<a href="#comment{{ include.index }}">{% endif %}
					{% include helpers/format-date.html date=include.date time=false weekDay=false %}
					{% if include.index %}</a>{% endif %}
				{% endif %}
			</small>
		</h4>
		{{ include.message | markdownify }}
	</div>
</li>
