<h3>Leave a comment <i class="fa fa-commenting" aria-hidden="true"></i></h3>
  <form method="POST" action="https://api.staticman.net/v2/entry/{{ site.github.repository_nwo }}/master/comments" onsubmit="javascript:_paq.push(['trackEvent', 'Comments', 'NewComment']);">

    <input name="options[redirect]" type="hidden" value="{{ page.url | absolute_url }}">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <input name="options[origin]" type="hidden" value="{{ page.url | absolute_url }}">
    <div class="form-group row">
      <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" name="fields[name]" class="form-control" id="inputName2" placeholder="Name (will be public)">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail2" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" name="fields[email]" class="form-control" id="inputEmail2" placeholder="Email (wont be public - used for Gravatar)">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputWebsite3" class="col-sm-2 col-form-label">Website</label>
      <div class="col-sm-10">
        <input type="website" name="fields[website]" class="form-control" id="inputWebsite3" placeholder="Website (optional and will be public)">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputMessage4" class="col-sm-2 col-form-label">Message</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="inputMessage4" rows="3" placeholder="Markdown is accepted" name="fields[message]"></textarea>
      </div>
    </div>
    
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Go!</button>
      </div>
    </div>
  </form>
