---
layout: default
---
<div class="col-sm-12">
    <div class="page">
    	<div class="page-title">
    		{{ page.title }}
    		<div class="meta">    			
			<a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}">Edit on GitHub <i class="fa fa-github fa-lg"></i></a>
    		</div>
    	</div>
        <div class="page-content">
            {{ content }}
	    <br>
	    <br>
            <hr>
            <h3>Comments <i class="fa fa-comments" aria-hidden="true"></i></h3>
            {% include staticman.html %}
        </div>
    </div>
</div>
<script>
    $(".page-preview-icon").hover(function(){
        $(this).parents(".page-nav").css("z-index","5000");
    });
</script>
